<div class="cave">
  <div *ngIf="!isVisible" class="darkness"></div>
  
  <div class="item-img-container" *ngIf="wumpus">
    <img [src]="wumpus | wumpusImg" alt="wumpus">
  </div>

  <div class="item-img-container" *ngIf="cave.hasPit">
    <img src="assets/img/pit.png" alt="pit">
  </div>

  <div class="item-img-container" *ngIf="cave.hasGold">
    <img class="img-gold" src="assets/img/gold.png" alt="Gold" >
  </div>

  <p class="signal-text" *ngIf="cave.position.row === 0 && cave.position.col === 0">Salida</p>
  <p class="signal-text" *ngIf="cave.hasStench">Hedor</p>
  <p class="signal-text" *ngIf="cave.hasBreeze">Brisa</p>

  <div class="item-img-container" *ngIf="hunter">
    <img [src]="hunter.direction | avatar" alt="Hunter">
  </div>

</div>