<div class="cave" [class.cave--entrance]="isEntrance" [class.cave--explored]="isCellVisible">
  <div class="darkness" [class.darkness--hidden]="isCellVisible"></div>

  <div class="clue-icon clue-icon--exit" *ngIf="isEntrance && isCellVisible">
    <img src="assets/img/exit_icon.svg" alt="Salida" title="Salida">
  </div>

  <div class="clue-icon clue-icon--breeze" *ngIf="cave.hasBreeze && isCellVisible">
    <img src="assets/img/breeze.svg" alt="Brisa" title="Brisa">
  </div>

  <div class="clue-icon clue-icon--stench" *ngIf="cave.hasStench && isCellVisible">
    <img src="assets/img/stench.svg" alt="Hedor" title="Hedor">
  </div>

  <div class="entity entity--hazard" *ngIf="wumpus && isCellVisible">
    <img [src]="wumpus | wumpusImg" alt="wumpus">
  </div>

  <div class="entity entity--hazard" *ngIf="cave.hasPit && isCellVisible">
    <img src="assets/img/pit_indie.png" alt="pit">
  </div>

  <div class="entity entity--gold" *ngIf="cave.hasGold && isCellVisible">
    <img src="assets/img/gold.png" alt="Gold">
  </div>

  <div class="entity entity--hunter" *ngIf="hunter">
    <img [src]="hunter.direction | avatar" alt="Hunter">
  </div>
</div>
