<div class="flex-center">
  <h1>Wumpus Game</h1>
</div>

<div class="flex-center">
  <form autocomplete="off"
    [formGroup]="gameForm"
    (ngSubmit)="startGame()">
    
    <div class="flex-between" style="margin-bottom: 10px;">
      <label for=""># Cuevas:</label>
      <input type="number" formControlName="caves">
    </div>

    <div class="flex-between" style="margin-bottom: 10px;">
      <label for=""># Fosas:</label>
      <input type="number" formControlName="pits">
    </div>

    <div class="flex-between" style="margin-bottom: 10px;">
      <label for=""># Flechas:</label>
      <input type="number" formControlName="arrows">
    </div>

    <div style="margin-top: 40px;">
      <button class="btn-xl" type="submit" [disabled]="gameForm.invalid">
        Iniciar Juego
      </button>
    </div>

  </form>
</div>