
h1{
  font-size: 70px;
}

label{
  font-size: 25px;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

input{
  width: 50px;
  font-size: 20px;
}

.alert-danger > div{
  text-align: center;
  padding: 3px;
  font-size: 20px;
  color: #bc0000;
}